<a href="https://colab.research.google.com/github/thnhpht/phantichdulieu_hocsau/blob/main/Lab_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Hãy sắp xếp dữ liệu điểm DH1 theo thứ tự tăng dần

import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt

def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/' + filename)                                             

dulieuxettuyen = load_data('dulieuxettuyendaihoc.csv')    
dulieuxettuyen.head(10)
dulieuxettuyen.sort_values(by=['D1'])

    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT  KV   DH1   DH2   DH3  KT
71   72  3.0  5.1  3.0  6.4  4.3  4.8  ...   F  NaN   1  3.50  4.75  3.50   B
75   76  5.5  4.0  4.3  5.6  3.3  5.9  ...   M  NaN   1  4.75  3.50  3.25   A
35   36  6.5  4.4  6.5  5.7  6.4  6.9  ...   M  NaN   2  2.50  5.00  5.00   A
65   66  3.0  4.0  3.8  6.6  5.4  5.4  ...   M  NaN   1  2.00  3.75  4.75   A
13   14  4.9  5.4  5.0  5.0  5.8  7.0  ...   F  NaN   1  2.50  2.75  5.50  D1
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ..   ...   ...   ...  ..
64   65  7.1  6.2  8.4  7.3  6.4  6.7  ...   M  6.0   2  4.25  3.75  6.00   A
84   85  8.4  7.4  6.0  7.8  6.3  7.2  ...   M  NaN   1  6.50  4.50  8.00   A
47   48  7.9  7.6  8.4  8.6  6.2  7.5  ...   M  NaN   2  4.75  6.50  8.00   A
90   91  8.1  7.7  9.1  8.5  6.1  8.6  ...   M  NaN   2  6.25  4.00  6.50   A
42   43  7.0  7.4  7.5  8.3  8.7  8.0  ...   F  NaN   1  5.75  3.50  4.25  D1

[100 rows x 56 columns]

In [ ]:
#Hãy sắp xếp dữ liệu điểm DH2 tăng dần theo nhóm giới tính

import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt

def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/' + filename)                                             

dulieuxettuyen = load_data('dulieuxettuyendaihoc.csv')    
dulieuxettuyen.head(10)
dulieuxettuyen.sort_values(by=['GT', 'D2'])

    STT   T1   L1   H1   S1   V1   X1  ...  GT  DT   KV   DH1   DH2   DH3  KT
96   97  3.7  5.4  6.0  5.1  5.5  3.9  ...   F NaN    1  5.25  3.75  4.75   C
25   26  3.6  5.8  6.9  6.1  5.5  7.2  ...   F NaN    1  4.75  2.00  5.50   C
30   31  7.6  7.2  5.4  5.6  5.6  6.7  ...   F NaN    1  5.00  3.50  5.50  D1
21   22  5.0  5.1  6.3  4.5  6.8  5.8  ...   F NaN    1  3.50  3.00  4.50  D1
24   25  2.4  4.1  3.6  5.5  5.9  5.6  ...   F NaN    1  7.00  2.25  5.25   C
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...   ...   ...   ...  ..
47   48  7.9  7.6  8.4  8.6  6.2  7.5  ...   M NaN    2  4.75  6.50  8.00   A
90   91  8.1  7.7  9.1  8.5  6.1  8.6  ...   M NaN    2  6.25  4.00  6.50   A
97   98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M NaN  2NT  7.00  8.00  4.00   C
5     6  9.3  7.6  7.9  8.6  7.0  7.3  ...   M NaN    1  1.50  4.00  6.00  D1
68   69  7.3  6.4  6.9  7.5  6.2  8.4  ...   M NaN    1  3.75  6.00  4.50   B

[100 rows x 56 columns]

In [3]:
#Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT

import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/' + filename)                                             

def Q1(g):
  return np.percentile(g, 25)

def Q2(g):
  return np.percentile(g, 50)

def Q3(g):
  return np.percentile(g, 75)

def std(g):
  return np.std(g)

pd.pivot_table(data=load_data('dulieuxettuyendaihoc.csv'), index='KT', values='DH1', aggfunc=['sum','mean','median','min','max', std, Q1, Q2, Q3])

       sum      mean median   min   max       std      Q1    Q2     Q3
       DH1       DH1    DH1   DH1   DH1       DH1     DH1   DH1    DH1
KT
A   163.50  3.336735   3.25  1.00  6.50  1.261226  2.2500  3.25  4.250
A1   17.50  2.916667   3.00  2.00  4.25  0.786165  2.1875  3.00  3.250
B    29.50  3.277778   3.50  1.75  4.50  0.776785  3.2500  3.50  3.750
C    79.25  5.660714   5.25  4.75  7.00  0.782665  5.0625  5.25  6.375
D1   84.25  3.829545   3.75  1.25  6.75  1.338644  3.0000  3.75  4.875

In [4]:
#Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT và KV

import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/' + filename)                                             

def Q1(g):
  return np.percentile(g, 25)

def Q2(g):
  return np.percentile(g, 50)

def Q3(g):
  return np.percentile(g, 75)

def std(g):
  return np.std(g)

pd.pivot_table(data=load_data('dulieuxettuyendaihoc.csv'), index=['KT', 'KV'], values='DH1', aggfunc=['count','sum','mean','median','min','max', std, Q1, Q2, Q3])

       count    sum      mean median  ...       std      Q1     Q2      Q3
         DH1    DH1       DH1    DH1  ...       DH1     DH1    DH1     DH1
KT KV                                 ...
A  1      29  93.75  3.232759  3.250  ...  1.345380  2.0000  3.250  4.2500
   2       9  31.75  3.527778  3.500  ...  1.346005  2.2500  3.500  4.2500
   2NT    11  38.00  3.454545  3.500  ...  0.871377  2.8750  3.500  4.1250
A1 1       2   4.75  2.375000  2.375  ...  0.375000  2.1875  2.375  2.5625
   2NT     4  12.75  3.187500  3.250  ...  0.797947  2.9375  3.250  3.5000
B  1       8  25.75  3.218750  3.375  ...  0.804650  3.0000  3.375  3.5625
   2NT     1   3.75  3.750000  3.750  ...  0.000000  3.7500  3.750  3.7500
C  1       8  43.50  5.437500  5.250  ...  0.681795  5.0000  5.250  5.4375
   2       2  11.50  5.750000  5.750  ...  0.750000  5.3750  5.750  6.1250
   2NT     4  24.25  6.062500  6.000  ...  0.817294  5.2500  6.000  6.8125
D1 1      13  46.75  3.596154  3.500  ...  1.215044  2.7500  3.500  4.2500
   2       8  33.75  4.218750  4.500  ...  1.512642  3.5625  4.500  5.0000
   2NT     1   3.75  3.750000  3.750  ...  0.000000  3.7500  3.750  3.7500

[13 rows x 10 columns]

In [5]:
#Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, Q2 và Q3 của DH1 theo KT, KV và DT

import pandas as pd
import sys
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

def load_data(filename):
  return pd.read_csv('https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/' + filename)                                             

def Q1(g):
  return np.percentile(g, 25)

def Q2(g):
  return np.percentile(g, 50)

def Q3(g):
  return np.percentile(g, 75)

def std(g):
  return np.std(g)

pd.pivot_table(data=load_data('dulieuxettuyendaihoc.csv'), index=['KT', 'KV', 'DT'], values='DH1', aggfunc=['count','sum','mean','median','min','max', std, Q1, Q2, Q3])

          count   sum  mean median   min   max  std    Q1    Q2    Q3
            DH1   DH1   DH1    DH1   DH1   DH1  DH1   DH1   DH1   DH1
KT KV DT
A  2  6.0     1  4.25  4.25   4.25  4.25  4.25  0.0  4.25  4.25  4.25
D1 1  1.0     1  3.00  3.00   3.00  3.00  3.00  0.0  3.00  3.00  3.00
   2  1.0     1  1.25  1.25   1.25  1.25  1.25  0.0  1.25  1.25  1.25